

header {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

body {
    margin-top: 20px;
    margin-left: 0;
    padding-top: 90px;
    background-color: rgb(255, 255, 255) !important;
}
.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    
}
.navbar .navbar-nav .nav-link:hover{
    color: #d996e9;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

.navbar-toggler.custom-toggler{
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.cover {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 100%;
    position:relative;
    background-image: url('img/PL_cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
 

}


.cover-content {
  inset: 0;
  width: 100%;
  position: absolute; 
  background: linear-gradient(rgb(0, 0, 0), rgba(131, 6, 198, 0.658));
}


.cover-text { 
  position:absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  font-family: 'Signika', sans-serif;
  margin: 0;
  padding: 10%;
}

.cover-text h1{
   
    font-weight: bold;
}
.cover-text p {
   
    font-style: italic;
}

.content-general {
    padding-top: 50px;
} 



.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  
}

.card {
    height: 100%;
    border-color:black !important;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.video-section {
    margin-top: 50px;
    background-color: #3f044e;
    padding: 80px;
}

iframe {
    width: 90%;
    height: 400;
    align-items: auto;
}


.category {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: white;
}

.headline {
    font-size: 2.9rem;
    margin: 1rem 0;
    color: white;

}

.description {
    font-size: 1.2rem;
    color: white;

}


@media (max-width: 767.98px) {
    .card .img-fit{
        aspect-ratio: 1.45 / 1;
    }
}

/* @media screen and (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 16px;
        margin: 5px;
    }
    .cover-text h1 {
        font-size: 45px;
    }
    .cover-text p {
        font-size: 20px;
    }
} */

/* Tablets and larger */
/* @media screen and (min-width: 769px) {
    .navbar-nav .nav-link {
        font-size: 20px;
        margin: 10px;
    }
    .cover-text h1 {
        font-size: 100px;
    }
    .cover-text p {
        font-size: 30px;
    }
}